<head>
    <script>
    $(document).ready(function() { $(".js-example-placeholder-multiple").select2({
        placeholder: "Select users",
        allowClear: true
      });
    });
  </script>
</head>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<!-- <select class="js-example-basic-multiple select-size" multiple="multiple">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select> -->


<%= form_tag('/users/create') do %>
  <%= collection_select(:user, :emails, User.all, :name, :name, {:include_hidden => false}, {class: "js-example-placeholder-multiple select-size",  multiple: true }) %>
      <%= submit_tag("Search") %>
<% end %>


<!-- 

collection_select(
    :message, 
    :emails,
    User.all, 
    :email, 
    :name
) -->