
body {
  font: bold 2em monospace;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 20px;
    height: 300px;
}

#myText {
  margin: 0 auto;
  width: 250px;
  height:60px;
  font-size: 20px;
}


#demo {
  margin: 0 auto;
  width: 250px;
  height:60px;
  font-size: 20px;
}

#input {
  display:inline-block;
  float: left;
  width: 50%;
  text-align:center;
}

#output {
  display:inline-block;
  float: right;
  width: 50%;
  text-align:center;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }



.title { 
  color: black;
  border-right: .1em solid black;
  width: calc(0.55em * 14); 
  width: 14ch;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  -webkit-animation: typing 8s steps(14, end) infinite,
   blink-caret .5s step-end infinite alternate;
}

